<div id="<%= dom_id personal_info %>">
  <p>
    <strong>Age:</strong>
    <%= personal_info.age.to_s %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= personal_info.country %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= personal_info.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= personal_info.twitter %>
  </p>

</div>
