<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to 'Games App', show_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">


      <% if logged_in? %>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
          <%= link_to 'Home', show_path, class:"nav-link active" %>
            </li>
            <li class="nav-item">
            <%= link_to 'My games', games_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
            <%= link_to 'Find Friends', genres_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
            <%= link_to 'About me', editinfo_path, class:"nav-link" %>
            </li>
            </ul>

                <div style='float: right; color: white '>
                Logged in as <%= current_user.name %> |
                <%= link_to 'Logout', logout_path, method: :delete %>
                </div>
    <% else %>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <%= link_to 'Log in', login_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
            <%= link_to 'Sign up', sign_up_path, class:"nav-link" %>
            </li>
            </ul>


<% end %>

    </div>
  </div>
</nav>