<div id="<%= dom_id game %>">
  <p>
    <strong>Avatar:</strong>
    <% if game.avatar.attached? %>
      <%=image_tag game.avatar, width: "200px" %>
    <% end %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= game.title %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= game.genre %>
  </p>

  <p>
    <strong>Platform:</strong>
    <%= game.platform %>
  </p>

  <p>
    <strong>Short description:</strong>
    <%= game.short_description %>
  </p>

</div>
